<server description="demo-server">

	<featureManager>
  	    <feature>appSecurity-2.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jdbc-4.2</feature>
        <feature>jpa-2.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>mpOpenAPI-1.1</feature>
		<feature>mpConfig-1.4</feature>
	</featureManager>
	
	
	<basicRegistry id="basic" realm="customRealm">
	     <user name="admin" password="admin" />
	</basicRegistry>	
	
	<administrator-role>
        <user>admin</user>   
    </administrator-role>
	
	<httpEndpoint host="*" httpPort="9083" httpsPort="9443" id="defaultHttpEndpoint"/>
	
	<!-- Dette er et trix for å sette contextRoot -->
	<webApplication id="demo-app" 
		location="demo-app-github.war" 
		contextRoot="/" />
			
    <basicRegistry>
       <group name="Administrators">
            <member name="bwa"/>
       </group>
    </basicRegistry>
    
    <library id="jdbcLib">
        <fileset dir="lib" include="postgres*.jar"/>
    </library>

    <!-- her legger du inn eventuelle datasources 
        <dataSource jndiName="jdbc/datasource">
            <jdbcDriver libraryRef="jdbcLib"/>
            <properties serverName="localhost" 
            portNumber="3333"
            databaseName="postgres"
            currentSchema="ladekalkulator"
            user="user"
            password="password"/>
        </dataSource>
        
    -->

<!--  bruk denne for å trace database kall
<logging  traceSpecification="eclipselink.sql=all"
  traceFileName="trace.log"
  maxFileSize="20"
  maxFiles="10"
  traceFormat="BASIC" />
 -->
     
</server>