<server description="demo-server">

	<featureManager>
  	    <feature>appSecurity-2.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jdbc-4.2</feature>
        <feature>jpa-2.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>mpOpenAPI-1.1</feature>
		<feature>mpConfig-1.4</feature>
	</featureManager>
	
	
	<basicRegistry id="basic" realm="customRealm">
	     <user name="admin" password="admin" />
	</basicRegistry>	
	
	<administrator-role>
        <user>admin</user>   
    </administrator-role>
	
	<httpEndpoint host="*" httpPort="9083" httpsPort="9443" id="defaultHttpEndpoint"/>
	
	<!-- Dette er et trix for å sette contextRoot -->
	<webApplication id="demo-app" 
		location="demo-app-github.war" 
		contextRoot="/" />
			
    <basicRegistry>
       <group name="Administrators">
            <member name="bwa"/>
       </group>
    </basicRegistry>
    
    <library id="jdbcLib">
        <fileset dir="lib" include="postgres*.jar"/>
    </library>

    <!-- her legger du inn eventuelle datasources 
        <dataSource jndiName="jdbc/datasource">
            <jdbcDriver libraryRef="jdbcLib"/>
            <properties serverName="localhost" 
            portNumber="3333"
            databaseName="postgres"
            currentSchema="ladekalkulator"
            user="user"
            password="password"/>
        </dataSource>
        
    -->
    
    
	<!-- Derby Library Configuration -->
	
	  <library id="derbyJDBCLib">
        <fileset dir="lib" include="derby*.jar"/>
	  </library>
	
	  <dataSource id="derby"
	              jndiName="jdbc/datasourceJPA">
	      <jdbcDriver libraryRef="derbyJDBCLib" />
	      <properties.derby.embedded databaseName="derbyDB" createDatabase="create"/>
	  </dataSource>
	  
	  <!-- 
	  
	  	Det er veldig viktig å lage en non-transactional datasource, for JPA
	  	bruker denne datasourcen for å opprette og modifisere databasen
	  	i henhold til de entiteter som er lagt inn 
	  	
	  	se persinstence.xml, siden man har <property name="eclipselink.ddl-generation" value="create-tables"/>
	  	så vil det blir opprettet database tabeller automatisk
	  	
	  	Om man vil gjøre dette manuelt i databasen, man man rta bort denne datasouren, men da man 
	  	man endre 'create-tables' til 'none' 
	  	
	  	se https://www.eclipse.org/eclipselink/documentation/2.5/jpa/extensions/p_ddl_generation.htm
	  	
	  	-->
	  
	  <dataSource id="derbynoTransactional"
	              jndiName="jdbc/datasourceJPAnoTransactional"
	              transactional="false"
	              >
	      <jdbcDriver libraryRef="derbyJDBCLib" />
	      <properties.derby.embedded databaseName="derbyDB" createDatabase="create"/>
	  </dataSource>
    
    
    jdbc/datasourceJPAnoTransactional

<!--  bruk denne for å trace database kall
<logging  traceSpecification="eclipselink.sql=all"
  traceFileName="trace.log"
  maxFileSize="20"
  maxFiles="10"
  traceFormat="BASIC" />
 -->
     
</server>